* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Add this to App.css or the relevant CSS file */
.floating-button {
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.floating-button:hover {
  background-color: #0056b3;
}


.chatbot-icon {
  
  background-color: #007bff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.chatbot-icon:hover {
  background-color: #0056b3;
}

.buttons-container{
  position: fixed;
  display: flex;
  bottom: 20px;
  right: 20px;
  gap: 20px;
}